.app-container{
    display: flex;
}
    .content{
       width:100%
    }
.sidebar{
    min-height: 800px;
}
.post-card{
    margin:20px 30px;
    
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}